// $numberOfElements: 4; 
// $fontSize: 50px;

// .carousel {
// 	position: relative;
// 	width: 100%;
// 	// text-align: center;
// 	font-size: $fontSize;
// 	line-height: $fontSize * 1.5;
// 	height: $fontSize * 1.5;
	
// 	.pre {
// 		top: 0;
// 		height: $fontSize * 1.5;
// 	}
	
// 	.change_outer {
// 		top: 0;
// 		height: $fontSize * 1.5;
// 		overflow: hidden;
		
// 		.change_inner {
// 			position: relative;
// 			animation: rotate 8s ease-in-out infinite;
// 		}
		
// 		.element {
// 			// display: block;
// 		}
		
// 	}
	
// }

// @keyframes rotate {
// 	0%, 20% {
// 		transform: translateY(0);
// 	}
// 	25%,45% {
// 		transform: translateY($fontSize * -1.5);
// 	}
// 	50%,70% {
// 		transform: translateY($fontSize * -3);
// 	}
// 	75%,95% {
// 		transform: translateY($fontSize * -4.5);
// 	}
// 	100% {
// 		transform: translateY($fontSize * -6);
// 	}
// }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);

$numberOfElements: 4; 
$fontSize: 50px;


.carousel {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: $fontSize;
	line-height: $fontSize * 1.5;
	height: $fontSize * 1.5;
	
	.pre {
		position: absolute;
		top: 0;
		height: $fontSize * 1.5;
	}
	
	.change_outer {
		position: absolute;
		// top: 0;
		left: 15.5%;   
		text-align: left;
		height: $fontSize * 1.5;
		overflow: hidden;
		
		.change_inner {
			position: relative;
			animation: rotate 10s ease-in-out infinite;
		}
		
		.element {
			display: block;
		}
		
	}
	
}

@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY($fontSize * -1.5);
	}
	50%,70% {
		transform: translateY($fontSize * -3);
	}
	75%,95% {
		transform: translateY($fontSize * -4.5);
	}
}